*{
  padding: 0;
  margin: 0;
  color: white;
}



#navbar{
  height: 60px;
  background-color: black;
}
  /* display: flex;
  flex-direction: row-reverse;
  gap: 10px; */


button{
  background-color: #f08804;;
  /* margin-right: 10px; */
}
 /* border-radius: 10%;
  height: 50px;
  width: 75px;
} */
#logo{
  background-color: #f08804;
  font-size: 25px;

}
a{
  margin-right: 150px;
  text-decoration: none;
}